// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: "adelle-sans", $helvetica;
$serif: "leitura-news", $georgia;

$base-font-family: $serif;
$header-font-family: $base-font-family;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.75;
$base-border-radius: em(3);

// Colors
///////////////////////////////////////////////////////////////////////////////

$printer-red: #D03702;
$light-gray: #f6f6f6;
$off-black: #222;

$blue: #477DCA;
$medium-gray: #999;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Body Color
$base-body-color: white;

//  Font Colors
$base-font-color: $off-black;
$base-accent-color: $printer-red;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 10);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

// Buttons
$button-style: simple;
