header {
  @include outer-container;
  @include clearfix;
  // padding: 0.5em 0;
  // @include media($M) { padding: 0 1em; }
  div {
    text-align: center;
    padding: 0 1em;
    // width: 100%;
    @include media ($S) {
      text-align: left;
      @include span-columns(9);
    }
    @include media($M) {
      @include span-columns(6);
    }
  }
}

.nav-collapse {
  // width: 100%;
  @include media($M) {
    @include span-columns(6);
    padding: 0 1em;
  }
  ul {
    // margin: 0;
    // padding: 0;
    // width: 100%;
    display: block;
    list-style: none;
    text-align: center;
    @include media($M) { text-align: right; }
  }
  li {
    @include media($M) {
      display: inline-block;
    }
  }
  a {
    background-color: $printer-red;
    padding: 1.25em 0;
    display: block;
    color: #fff;
    font-family: $sans-serif;
    letter-spacing: 0.5px;
    @include media($M-less) {
      &:hover, &:focus, &:active {
        background-color: darken($printer-red, 5%);
      }
    }
    @include media($M) {
      margin-left: 1em;
      color: $off-black;
      background-color: #fff;
    }
  }
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  user-select: none;
  font-family: $sans-serif;
  display: block;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 1.25em 1.5em;
  @include media($S) {
    // float: right;
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}